<a href="https://colab.research.google.com/github/hermesvillarreal/CursoPythonDesde0/blob/main/day_13_list_comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ðŸ’» Exercises: Day 13

1. Filter only negative and zero in the list using list comprehension
   ```py
   numbers = [-4, -3, -2, -1, 0, 2, 4, 6]
   ```

In [43]:
numbers = [-4, -3, -2, -1, 0, 2, 4, 6]

print([n for n in numbers if n > 0])

[2, 4, 6]

2. Flatten the following list of lists of lists to a one dimensional list :

   ```py
   list_of_lists =[[[1, 2, 3]], [[4, 5, 6]], [[7, 8, 9]]]
   output
   [1, 2, 3, 4, 5, 6, 7, 8, 9]
   ```

In [44]:
list_of_lists =[[[1, 2, 3]], [[4, 5, 6]], [[7, 8, 9]]]

print([n for cubo in list_of_lists for row in cubo for n in row])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

3. Using list comprehension create the following list of tuples:
   ```py
   [(0, 1, 0, 0, 0, 0, 0),
   (1, 1, 1, 1, 1, 1, 1),
   (2, 1, 2, 4, 8, 16, 32),
   (3, 1, 3, 9, 27, 81, 243),
   (4, 1, 4, 16, 64, 256, 1024),
   (5, 1, 5, 25, 125, 625, 3125),
   (6, 1, 6, 36, 216, 1296, 7776),
   (7, 1, 7, 49, 343, 2401, 16807),
   (8, 1, 8, 64, 512, 4096, 32768),
   (9, 1, 9, 81, 729, 6561, 59049),
   (10, 1, 10, 100, 1000, 10000, 100000)]
   ```

In [42]:
print([(n , n**0, n**1, n**2, n**3, n**4, n**5) for n in range(11)])

[(0, 1, 0, 0, 0, 0, 0), (1, 1, 1, 1, 1, 1, 1), (2, 1, 2, 4, 8, 16, 32), (3, 1, 3, 9, 27, 81, 243), (4, 1, 4, 16, 64, 256, 1024), (5, 1, 5, 25, 125, 625, 3125), (6, 1, 6, 36, 216, 1296, 7776), (7, 1, 7, 49, 343, 2401, 16807), (8, 1, 8, 64, 512, 4096, 32768), (9, 1, 9, 81, 729, 6561, 59049), (10, 1, 10, 100, 1000, 10000, 100000)]

4. Flatten the following list to a new list:
   ```py
   countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
   output:
   [['FINLAND','FIN', 'HELSINKI'], ['SWEDEN', 'SWE', 'STOCKHOLM'], ['NORWAY', 'NOR', 'OSLO']]
   ```

In [64]:
countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
print([[tupla[0].upper(), tupla[0][:3].upper(), tupla[1].upper()] for lista in countries for tupla in lista])

[['FINLAND', 'FIN', 'HELSINKI'], ['SWEDEN', 'SWE', 'STOCKHOLM'], ['NORWAY', 'NOR', 'OSLO']]

5. Change the following list to a list of dictionaries:
   ```py
   countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
   output:
   [{'country': 'FINLAND', 'city': 'HELSINKI'},
   {'country': 'SWEDEN', 'city': 'STOCKHOLM'},
   {'country': 'NORWAY', 'city': 'OSLO'}]
   ```

In [69]:
countries = [[('Finland', 'Helsinki')], [('Sweden', 'Stockholm')], [('Norway', 'Oslo')]]
print([{'country': tupla[0].upper(), 'city': tupla[1].upper()} for lista in countries for tupla in lista])

[{'country': 'FINLAND', 'city': 'HELSINKI'}, {'country': 'SWEDEN', 'city': 'STOCKHOLM'}, {'country': 'NORWAY', 'city': 'OSLO'}]

6. Change the following list of lists to a list of concatenated strings:
   ```py
   names = [[('Asabeneh', 'Yetayeh')], [('David', 'Smith')], [('Donald', 'Trump')], [('Bill', 'Gates')]]
   output
   ['Asabeneh Yetaeyeh', 'David Smith', 'Donald Trump', 'Bill Gates']
   ```

In [70]:
names = [[('Asabeneh', 'Yetayeh')], [('David', 'Smith')], [('Donald', 'Trump')], [('Bill', 'Gates')]]
print([f'{tupla[0]} {tupla[1]}' for lista in names for tupla in lista])

['Asabeneh Yetayeh', 'David Smith', 'Donald Trump', 'Bill Gates']

7. Write a lambda function which can solve a slope or y-intercept of linear functions.

In [86]:
slope = lambda x, y: (y[1] - x[1])/(y[0] - x[0])
y_intercept = lambda x, y: x[1] - slope(x, y) * x[0]
e_lineal = lambda x, y: f'Y = {slope(x,y):.2f}X + {y_intercept(x,y)}'

print(e_lineal((0,-2),(1,0)))

Y = 2.00X + -2.0