<a href="https://colab.research.google.com/github/hermesvillarreal/30-Days-Of-Python-master/blob/main/day_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercises - Day 3

1. Declare your age as integer variable

In [1]:
age = 45

2. Declare your height as a float variable

In [2]:
altura = 1.65

3. Declare a variable that store a complex number

In [3]:
num_complejo = 5j

4. Write a script that prompts the user to enter base and height of the triangle and calculate an area of this triangle (area = 0.5 x b x h)

In [6]:
base = int(input('Enter base: '))
height = int(input('Enter height: '))
print('The area of the triangle is ', 0.5 * base * height)

Enter base: 20
Enter height: 10
The area of the triangle is  100.0

5. Write a script that prompts the user to enter side a, side b, and side c of the triangle. Calculate the perimeter of the triangle (perimeter = a + b + c)

In [8]:
a = int(input('Enter side a: '))
b = int(input('Enter side b: '))
c = int(input('Enter side c: '))
print('The perimeter of the triangle is', a + b + c)

Enter side a: 5
Enter side b: 4
Enter side c: 3
The perimeter of the triangle is 12

6. Get length and width of a rectangle using prompt. Calculate its area (area = length x width) and perimeter (perimeter = 2 x (length + width))

In [11]:
length = int(input('Enter length: '))
width = int(input('Enter width: '))
print('area (area = length x width)', length * width)
print('perimeter (perimeter = 2 x (length + width)', 2 * (length + width))

Enter length: 3
Enter width: 4
area (area = length x width) 12
perimeter (perimeter = 2 x (length + width) 14

7. Get radius of a circle using prompt. Calculate the area (area = pi x r x r) and circumference (c = 2 x pi x r) where pi = 3.14.

In [12]:
r = int(input('Enter radio: '))
pi = 3.14
print('area (area = pi x r x r)', pi * r * r)
print('circumference (c = 2 x pi x r)', 2 * pi * r)

Enter radio: 1
area (area = pi x r x r) 3.14
circumference (c = 2 x pi x r) 6.28

8. Calculate the slope, x-intercept and y-intercept of y = 2x -2

In [20]:
x1 = 0
y1 = 2 * x1 - 2

y2 = 0
x2 = (y2 + 2) / 2

print ('x-intercept ({},{})\ny-intercept ({},{})'.format(x1, y1, x2, y2))

x-intercept (0,-2)
y-intercept (1.0,0)

9. Slope is (m = y2-y1/x2-x1). Find the slope and Euclidean distance between point (2, 2) and point (6,10)

In [4]:
x1, y1 = 2, 2
x2, y2 = 6, 10

m = (y2-y1)/(x2-x1)

10. Compare the slopes in tasks 8 and 9

In [9]:
2.0 == m

True

11. Calculate the value of y (y = x^2 + 6x + 9). Try to use different x values and figure out at what x value y is going to be 0.

In [11]:
x = -3
y = x ** 2 + 6 * x + 9
y = (x + 3)(x + 3)
y = (x + 3) ** 2
# x = -3 | x = -3
print(y)

0
0

12. Find the length of 'python' and 'dragon' and make a falsy comparison statement.

In [13]:
len('python') is not len('dragon')

False

13. Use and operator to check if 'on' is found in both 'python' and 'dragon'

In [14]:
'on' in 'python' and 'on' in 'dragon'

True

14. I hope this course is not full of jargon. Use in operator to check if jargon is in the sentence.

In [15]:
'jargon' in 'I hope this course is not full of jargon'

True

15. There is no 'on' in both dragon and python

In [16]:
'on' is not 'dragon' and 'on' is not 'python'

True

16. Find the length of the text python and convert the value to float and convert it to string

In [19]:
str(float(len('python')))

'6.0'

17. Even numbers are divisible by 2 and the remainder is zero. How do you check if a number is even or not using python?

In [26]:
n = int(input('Enter n: '))
n % 2 is 0

Enter n: 5

False

18. Check if the floor division of 7 by 3 is equal to the int converted value of 2.7

In [32]:
7 // 3 is int(2.7)

True

19. Check if type of '10' is equal to type of 10

In [36]:
type('10') is type(10)

False

20. Check if int('9.8') is equal to 10

In [43]:
int(float('9.8')) is 10

False

21. Writ a script that prompts the user to enter hours and rate per hour. Calculate pay of the person?

In [44]:
hours = int(input('Enter hours: '))
rate_per_hour = float(input('Enter rate per hour: '))
print('Your weekly earning is', hours * rate_per_hour)

Enter hours: 40
Enter rate per hour: 28
Your weekly earning is 1120.0

22. Write a script that prompts the user to enter number of years. Calculate the number of seconds a person can live. Assume a person can live hundred years

In [58]:
years = int(input('Enter number of years you have lived: '))
seconds = int(years * 365.25 * 86400.0)
print("You have lived for {} seconds.".format(seconds))

Enter number of years you have lived: 100
You have lived for 3155760000 seconds.

23. Write a Python script that displays the following table
```
1 1 1 1 1
2 1 2 4 8
3 1 3 9 27
4 1 4 16 64
5 1 5 25 125
```

In [63]:
for i in range(1,6):
  print (i, i**0, i**1,i**2,i**3)

1 1 1 1 1
2 1 2 4 8
3 1 3 9 27
4 1 4 16 64
5 1 5 25 125