<a href="https://colab.research.google.com/github/hermesvillarreal/30-Days-Of-Python-master/blob/main/06_Day_Tuples/day_6_tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejercicios: Nivel 1

1. Crear una tupla vacía

In [24]:
# metodo 1
tpl = ()

In [25]:
# metodo 2
tpl = tuple()

2. Crea una tupla que contenga los nombres de tus hermanas y tus hermanos (los hermanos imaginarios están bien)

In [26]:
tpl_brothers = ('Felix', 'Gabriel', 'Raziel')
tpl_sisters = ('Sarah', 'Moon', 'Clotilde')

3. Unir tuplas de hermanos y hermanas y asignarlas a hermanos

In [27]:
tpl_siblings = tpl_brothers + tpl_sisters
print(tpl_siblings)

('Felix', 'Gabriel', 'Raziel', 'Sarah', 'Moon', 'Clotilde')

4. ¿Cuántos hermanos tiene usted?

In [28]:
print(len(tpl_siblings))

6

5. Modifique la tupla de hermanos y agregue el nombre de su padre y madre y asígnelo a family_members

In [30]:
lst_siblings = list(tpl_siblings)
lst_siblings.extend(['Hermes', 'Kathia'])

family_members = tuple(lst_siblings)
print(family_members)

('Felix', 'Gabriel', 'Raziel', 'Sarah', 'Moon', 'Clotilde', 'Hermes', 'Kathia')

# Ejercicios: Nivel 2

1. Desempaquetar hermanos y padres de family_members

In [33]:
tpl_siblings = family_members[:-2]
tpl_parents = family_members[-2:]
print(tpl_siblings)
print(tpl_parents)

('Felix', 'Gabriel', 'Raziel', 'Sarah', 'Moon', 'Clotilde')
('Hermes', 'Kathia')

2. Cree tuplas de frutas, verduras y productos animales. Une las tres tuplas y asígnalas a una variable llamada food_stuff_tp.

In [34]:
fruits_tp = ('Mango', 'Piña', 'Mamon')
vegetables_tp = ('Tomate', 'Pepino', 'Apio')
animal_products_tp = ('Carne', 'Leche', 'Queso')

food_stuff_tp = fruits_tp + vegetables_tp + animal_products_tp
print(food_stuff_tp)

('Mango', 'Piña', 'Mamon', 'Tomate', 'Pepino', 'Apio', 'Carne', 'Leche', 'Queso')

3. Cambie la tupla about food_stuff_tp a una lista food_stuff_lt

In [35]:
food_stuff_lt = list(food_stuff_tp)
print(food_stuff_lt)

['Mango', 'Piña', 'Mamon', 'Tomate', 'Pepino', 'Apio', 'Carne', 'Leche', 'Queso']

4. Rebane el artículo o artículos del medio de la tupla food_stuff_tp o la lista food_stuff_lt.

In [39]:
print(food_stuff_tp[1:-1])

('Piña', 'Mamon', 'Tomate', 'Pepino', 'Apio', 'Carne', 'Leche')

5. Cortar los primeros tres elementos y los últimos tres elementos de la lista food_staff_lt

In [37]:
print(food_stuff_tp[:3])
print(food_stuff_tp[-3:])

('Mango', 'Piña', 'Mamon')
('Carne', 'Leche', 'Queso')

6. Eliminar completamente la tupla food_staff_tp

In [40]:
del food_stuff_tp

7. Compruebe si existe un elemento en la tupla:
* Comprobar si 'Estonia' es un país nórdico
* Comprobar si 'Islandia' es un país nórdico
```
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')
```

In [41]:
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')

In [42]:
'Estonian' in nordic_countries

False

In [43]:
'Iceland' in nordic_countries

True