<a href="https://colab.research.google.com/github/hermesvillarreal/CursoPythonDesde0/blob/main/day_11_functions1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercises: Day 11

## Exercises: Level 1

1. Declare a function _add_two_numbers_. It takes two parameters and it returns a sum.

In [ ]:
def add_two_numbers(a, b):
  return a + b

print(add_two_numbers (5,4))

9

2. Area of a circle is calculated as follows: area = π x r x r. Write a function that calculates _area_of_circle_.

In [ ]:
def area_of_circle(r):
  pi = 3.141592
  return pi * r * r

print(area_of_circle(10))

314.1592

3. Write a function called add_all_nums which takes arbitrary number of arguments and sums all the arguments. Check if all the list items are number types. If not do give a reasonable feedback.

In [ ]:
def add_all_nums(*nums):
  return sum(nums)

print(add_all_nums(1,2,3,4,5))

15

4. Temperature in °C can be converted to °F using this formula: °F = (°C x 9/5) + 32. Write a function which converts °C to °F, _convert_celsius_to-fahrenheit_.

In [ ]:
def convert_celsius_to_fahrenheit(c):
  return (float(c) * 9 / 5) + 32

print(convert_celsius_to_fahrenheit(100))

212.0

5. Write a function called check-season, it takes a month parameter and returns the season: Autumn, Winter, Spring or Summer.

In [ ]:
def check_season(month):
  seasons = 'Autumn Winter Spring Summer'.split()
  months = 'sep oct nov dec jan feb mar apr may jun jul aug'.split()
  try:
    return seasons[(months.index(month)) // 3]
  except ValueError:
    return 'Invalid Month: Should be [jan feb mar apr may jun jul aug sep oct nov dec]'

check_season('mar')

'Spring'

6. Write a function called calculate_slope which return the slope of a linear equation

In [ ]:
def calculate_slope(x1,y1,x2,y2): 
  '''
  Y = mX + b
  '''
  m = (y2 - y1) / (x2 - x1)
  return m

print(calculate_slope(4,5,8,10))

1.25

7. Quadratic equation is calculated as follows: ax² + bx + c = 0. Write a function which calculates solution set of a quadratic equation, _solve_quadratic_eqn_.

![image.png]()

In [ ]:
def solve_quadratic_eqn(A, B, C):
  '''
  Ax**2 + Bx + C = 0
  '''
  if ((B**2)-4*A*C) < 0:
    print("La solución de la ecuación es con numeros complejos")
  else:
    x1 = (-B+(B**2-(4*A*C))**(0.5))/(2*A)  # Fórmula de Bhaskara parte positiva
    x2 = (-B-(B**2-(4*A*C))**(0.5))/(2*A)  # Fórmula de Bhaskara parte negativa
    print("Las soluciones de la ecuación son:")
    print(x1)
    print(x2)

solve_quadratic_eqn(2, -7, 3)

Las soluciones de la ecuación son:
3.0
0.5

8. Declare a function named print_list. It takes a list as a parameter and it prints out each element of the list.

In [ ]:
def print_list(lista):
  for elemento in lista:
    print(elemento)

l1 = [1, 2, 3, 'cuatro', {'a', 'b'}]
print_list(l1)

1
2
3
cuatro
{'b', 'a'}

9. Declare a function named reverse_list. It takes an array as a parameter and it returns the reverse of the array (use loops).

```py
print(reverse_list([1, 2, 3, 4, 5]))
# [5, 4, 3, 2, 1]
print(reverse_list1(["A", "B", "C"]))
# ["C", "B", "A"]
```

In [ ]:
def reverse_list(lista):
  rlist = []
  for elemento in lista[::-1]:
    rlist.append(elemento)
  return rlist

print(reverse_list(["A", "B", "C"]))

['C', 'B', 'A']

10. Declare a function named capitalize_list_items. It takes a list as a parameter and it returns a capitalized list of items

In [ ]:
def capitalize_list_items(lista):
  clist = []
  for elemento in lista:
    clist.append(elemento.upper())
  return clist

capitalize_list_items(['ene', 'feb', 'mar'])

['ENE', 'FEB', 'MAR']

11. Declare a function named add_item. It takes a list and an item parameters. It returns a list with the item added at the end.

```py
food_staff = ['Potato', 'Tomato', 'Mango', 'Milk'];
print(add_item(food_staff, 'Meat'))     # ['Potato', 'Tomato', 'Mango', 'Milk','Meat'];
numbers = [2, 3, 7, 9];
print(add_item(numbers, 5))      [2, 3, 7, 9, 5]
```

In [5]:
def add_item(lista, item):
  lista.append(item)
  return lista

food_staff = ['Potato', 'Tomato', 'Mango', 'Milk'];
print(add_item(food_staff, 'Meat')) 

numbers = [2, 3, 7, 9];
print(add_item(numbers, 5))

['Potato', 'Tomato', 'Mango', 'Milk', 'Meat']
[2, 3, 7, 9, 5]

12. Declare a function named remove_item. It takes a list and an item parameters. It returns a list with the item removed from it.

```py
food_staff = ['Potato', 'Tomato', 'Mango', 'Milk'];
print(remove_item(food_staff, 'Mango'))  # ['Potato', 'Tomato', 'Milk'];
numbers = [2, 3, 7, 9];
print(remove_item(numbers, 3))  # [2, 7, 9]
```

In [6]:
def remove_item(lista, item):
  lista.remove(item)
  return lista

food_staff = ['Potato', 'Tomato', 'Mango', 'Milk'];
print(remove_item(food_staff, 'Mango'))  # ['Potato', 'Tomato', 'Milk'];
numbers = [2, 3, 7, 9];
print(remove_item(numbers, 3))  # [2, 7, 9]

['Potato', 'Tomato', 'Milk']
[2, 7, 9]

13. Declare a function named sum_of_numbers. It takes a number parameter and it adds all the numbers in that range.

```py
print(sum_of_numbers(5))  # 15
print(sum_all_numbers(10)) # 55
print(sum_all_numbers(100)) # 5050
```

In [8]:
def sum_of_numbers(n):
  return int(n * (n + 1) / 2)

print(sum_of_numbers(5))  # 15
print(sum_of_numbers(10)) # 55
print(sum_of_numbers(100)) # 5050

15
55
5050

14. Declare a function named sum_of_odds. It takes a number parameter and it adds all the odd numbers in that range.

In [9]:
def sum_of_odds(n):
  return sum(range(1,n+1,2))

print(sum_of_odds(5))

9

15. Declare a function named sum_of_even. It takes a number parameter and it adds all the even numbers in that - range.

In [11]:
def sum_of_even(n):
  return sum(range(0,n+1,2))

print(sum_of_even(5))

6

## Exercises: Level 2

1.  Declare a function named evens_and_odds . It takes a positive integer as parameter and it counts number of evens and odds in the number.

```py
    print(evens_and_odds(100))
    # The number of odds are 50.
    # The number of evens are 51.
```

In [14]:
def evens_and_odds(n):
  return f'The number of odds are {len(range(1,n+1,2))}.\nThe number of evens are {len(range(0,n+1,2))}.'
print(evens_and_odds(100))

The number of odds are 50.
The number of evens are 51.

2. Call your function factorial, it takes a whole number as a parameter and it return a factorial of the number

In [31]:
def factorial(n):
  return n * factorial(n - 1) if n > 1 else 1

factorial(5)

120

In [35]:
def factorial_for(n):
  f = 1
  for i in range(1,n+1)[::-1]:
    f = f * i
  return f

factorial_for(5)

120

3. Call your function _is_empty_, it takes a parameter and it checks if it is empty or not

In [50]:
def is_empty(item):
  return False if item else True

var = ()
print(is_empty(var))

True

4. Write different functions which take lists. They should calculate_mean, calculate_median, calculate_mode, calculate_range, calculate_variance, calculate_std (standard deviation).

In [87]:
def calculate_mean(lista):
  return sum(lista)/len(lista)

def calculate_median(lista):
    lista.sort()
    mid = len(lista) // 2
    return (lista[mid] + lista[mid+1]) / 2 if len(lista) % 2 else lista[mid]
  
def calculate_mode(lista):
  mayor = 0
  moda = []
  for elemento in lista:
    if elemento in moda:
      continue
    conteo = lista.count(elemento)
    if conteo > mayor:
      del moda[:]
      moda.append(elemento)
      mayor = conteo
    elif conteo == mayor:
      moda.append(elemento)
  return moda

def calculate_range(lista):
  return (min(lista), max(lista))

def calculate_variance(lista):
  m = calculate_mean(lista)
  return sum((xi - m) ** 2 for xi in lista) / len(lista)

def calculate_std(lista):
  return calculate_variance(lista)**0.5

lista = [-14.82381293, -0.29423447, -13.56067979, -1.6288903, -0.31632439, 0.53459687, -1.34069996, -1.61042692, -4.03220519, -0.24332097]

print(calculate_mean(lista))
print(calculate_median(lista))
print(calculate_mode(lista))
print(calculate_range(lista))
print(calculate_variance(lista))
print(calculate_std(lista))

-3.731599804999999
-1.34069996
[-14.82381293, -13.56067979, -4.03220519, -1.6288903, -1.61042692, -1.34069996, -0.31632439, -0.29423447, -0.24332097, 0.53459687]
(-14.82381293, 0.53459687)
28.822364260579157
5.36864640860051

## Exercises: Level 3

1. Write a function called is_prime, which checks if a number is prime.

In [101]:
def is_prime(n):
  n = abs(n)
  p = True
  for i in range(2,n//2):
    if n % i == 0:
      p = False
      break
  return p

print(is_prime(47))

True

2. Write a functions which checks if all items are unique in the list.

In [104]:
def unique(lista):
  return len(set(lista)) == len(lista)

print(unique([1,2,3,4,5]))

True

3. Write a function which checks if all the items of the list are of the same data type.

In [111]:
def samedatatype(lista):
  return len(set([type(item) for item in lista])) == 1

print(samedatatype([1,2,3,4,5]))

False

4. Write a function which check if provided variable is a valid python variable

5. Go to the data folder and access the countries-data.py file.

- Create a function called the most_spoken_languages in the world. It should return 10 or 20 most spoken languages in the world in descending order
- Create a function called the most_populated_countries. It should return 10 or 20 most populated countries in descending order.