<a href="https://colab.research.google.com/github/hermesvillarreal/30-Days-Of-Python-master/blob/main/day_5_l%C3%ADsts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejercicios: Nivel 1

1. Declarar una lista vacía

In [22]:
# metodo1
list_m1 = []

In [23]:
# metodo2
list_m2 = list()

2. Declarar una lista con más de 5 elementos

In [33]:
lista_5m = [1, 2, 3, 4, 5]

3. Encuentra la longitud de tu lista

In [27]:
print(len(lista_5m))

5

4. Obtenga el primer elemento, el elemento del medio y el último elemento de la lista

In [34]:
print(f'Primer elemento {lista_5m[0]}')
print(f'Elemento del medio {lista_5m[len(lista_5m)//2]}')
print(f'Ultimo elemento {lista_5m[-1]}')

Primer elemento 1
Elemento del medio 3
Ultimo elemento 5

5. Declare una lista llamada tipos_de_datos_mixtos, ponga su(nombre, edad, altura, estado civil, dirección)

In [35]:
tipos_de_datos_mixtos = ['Hermes Villarreal', 45, 1.65, 'Casado', 'Bethania, Ciudad de Panamá, Panamá']

6. Declare una variable de lista llamada it_companies y asigne valores iniciales Facebook, Google, Microsoft, Apple, IBM, Oracle y Amazon.

In [67]:
it_companies = ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

7. Imprime la lista usando print()

In [48]:
print(it_companies)

['Facebook', 'Google', 'Mi Empresa', 'Apple', 'IISA', 'IBM', 'Oracle', 'Amazon', 'Microsoft']

8. Imprimir el número de empresas en la lista

In [39]:
print(len(it_companies))

7

9. Imprimir la primera, segunda y última empresa

In [43]:
print(f'Primera empresa: {it_companies[0]}')
print(f'Segunda empresa: {it_companies[1]}')
print(f'Ultima empresa:  {it_companies[-1]}')

Primera empresa: Facebook
Segunda empresa: Google
Ultima empresa:  Amazon

10. Imprimir la lista después de modificar una de las empresas

In [45]:
it_companies[2] = 'Mi Empresa'
print(it_companies)

['Facebook', 'Google', 'Mi Empresa', 'Apple', 'IBM', 'Oracle', 'Amazon']

11. Agregar una empresa de TI a it_companies

In [46]:
it_companies.append('Microsoft')

12. Inserte una empresa de TI en medio de la lista de empresas

In [47]:
it_companies.insert(len(it_companies)//2, 'IISA')

13. Cambie uno de los nombres de it_companies a mayúsculas (IBM excluido!)

In [50]:
it_companies[0] = it_companies[0].upper()
print(it_companies)

['FACEBOOK', 'Google', 'Mi Empresa', 'Apple', 'IISA', 'IBM', 'Oracle', 'Amazon', 'Microsoft']

14. Únase a it_companies con una cadena '#; '

In [51]:
print('#;'.join(it_companies))

FACEBOOK#;Google#;Mi Empresa#;Apple#;IISA#;IBM#;Oracle#;Amazon#;Microsoft

15. Compruebe si una determinada empresa existe en la lista it_companies.

In [52]:
'IBM' in it_companies

True

16. Ordenar la lista usando el método sort()

In [55]:
it_companies.sort()
print(it_companies)

['Amazon', 'Apple', 'FACEBOOK', 'Google', 'IBM', 'IISA', 'Mi Empresa', 'Microsoft', 'Oracle']

17. Invierta la lista en orden descendente usando el método reverse()

In [56]:
it_companies.sort(reverse=True)
print(it_companies)

['Oracle', 'Microsoft', 'Mi Empresa', 'IISA', 'IBM', 'Google', 'FACEBOOK', 'Apple', 'Amazon']

18. Rebana las 3 primeras empresas de la lista

In [57]:
print(it_companies[0:3])

['Oracle', 'Microsoft', 'Mi Empresa']

19. Rebana las últimas 3 empresas de la lista

In [58]:
print(it_companies[-3:])

['FACEBOOK', 'Apple', 'Amazon']

20. Rebane la empresa o empresas intermedias de TI de la lista

In [59]:
print(it_companies[::len(it_companies)-1])

['Oracle', 'Amazon']

21. Eliminar la primera empresa de TI de la lista

In [60]:
del it_companies[0]
print(it_companies)

['Microsoft', 'Mi Empresa', 'IISA', 'IBM', 'Google', 'FACEBOOK', 'Apple', 'Amazon']

22. Eliminar la empresa o empresas intermedias de TI de la lista

In [62]:
del it_companies[1:len(it_companies)-1]
print(it_companies)

['Microsoft', 'Amazon']

23. Eliminar la última empresa de TI de la lista

In [63]:
del it_companies[-1]
print(it_companies)

['Microsoft']

24. Eliminar todas las empresas de TI de la lista

In [64]:
it_companies.clear()
print(it_companies)

[]

25. Destruye la lista de empresas de TI

In [68]:
del it_companies

26. Únete a las siguientes listas:
```
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
```

In [71]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

lista = front_end + back_end
print(lista)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

27. Después de unir las listas en la pregunta 26. Copie la lista unida y asígnela a una variable full_stack. Luego inserte Python y SQL después de Redux.

In [78]:
full_stack = lista.copy()
iRedux = full_stack.index('Redux')
full_stack.insert(iRedux + 1, 'Python')
full_stack.insert(iRedux + 2, 'SQL')
print (full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

# Ejercicios: Nivel 2

1. La siguiente es una lista de las edades de 10 estudiantes:
```
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
```
* Ordena la lista y encuentra la edad mínima y máxima
* Agregue la edad mínima y la edad máxima nuevamente a la lista
* Encuentre la edad mediana (un elemento intermedio o dos elementos intermedios divididos por dos)
* Encuentre la edad promedio (suma de todos los elementos dividida por su número)
* Encuentre el rango de las edades (max menos min)
* Compare el valor de (mín - promedio) y (máx - promedio), use el método abs()

In [92]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

ages.sort()
#nueva_lista = ages[::len(ages)-1]
nueva_lista = list((ages[0], ages[-1]))
minimo, maximo = nueva_lista
promedio = sum(ages)/len(ages)

print(ages)
print(f'edad mediana: {ages[len(ages) // 2]}')
print(f'edad promedio: {promedio}')
print(f'rango de las edades: {maximo - minimo} (de {minimo} a {maximo})')
print(f' valor de (mín - promedio): {abs(minimo - promedio):.2f} y (máx - promedio): {abs(maximo - promedio):.2f}')

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
edad mediana: 24
edad promedio: 22.8
rango de las edades: 7 (de 19 a 26)
 valor de (mín - promedio): 3.80 y (máx - promedio): 3.20

1. Encuentre el(los) país(es) intermedio(s) en la lista de países

In [93]:
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
];

In [102]:
indice = len(countries) // 2
print(countries[indice])

Lesotho

2. Dividir la lista de países en dos listas iguales si es aunque no sea un país más para la primera mitad.

In [107]:
indice = len(countries) // 2
country_list1 = countries[:indice]
country_list2 = countries[-indice:]
len(country_list1)

96

3. ['China', 'Rusia', 'EE. UU.', 'Finlandia', 'Suecia', 'Noruega', 'Dinamarca']. Descomprima los primeros tres países y el resto como países escandinavos.

In [108]:
pais1, pais2, pais3, *paises_escandinavos = ['China', 'Rusia', 'EE. UU.', 'Finlandia', 'Suecia', 'Noruega', 'Dinamarca']

print(pais1, pais2, pais3, paises_escandinavos)

China Rusia EE. UU. ['Finlandia', 'Suecia', 'Noruega', 'Dinamarca']