<a href="https://colab.research.google.com/github/hermesvillarreal/30-Days-Of-Python-master/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercises: Level 1

In [1]:
# Day 2: 30 Days of python programming

In [8]:
first_name = 'Hermes'
last_name = 'Villarreal'
full_name = first_name + ' ' + last_name
country = 'Panama'
city = 'PAnama'
age = 45
year = 1977
is_married = True
is_true = True
is_light_on = False

country, city, age, year = 'Panama', 'Panama', 45, 1977

# Exercises: Level 2

1. Check the data type of all your variables using type() built-in function

In [9]:
print(type(first_name))
print(type(last_name))
print(type(full_name))
print(type(country))
print(type(city))
print(type(age))
print(type(year))
print(type(is_married))
print(type(is_true))
print(type(is_light_on))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'int'>
<class 'bool'>
<class 'bool'>
<class 'bool'>

2. Using the len() built-in function, find the length of your first name

In [31]:
len(first_name)

6

3. Compare the length of your first name and your last name

In [27]:
len(first_name) == len(last_name)

False

4. Declare 5 as num_one and 4 as num_two

In [28]:
num_one, num_two = 5, 4

# Add num_one and num_two and assign the value to a variable total
total = num_one + num_two

# Subtract num_two from num_one and assign the value to a variable diff
diff = num_one - num_two

# Multiply num_two and num_one and assign the value to a variable product
product = num_one * num_two

# Divide num_one by num_two and assign the value to a variable division
division = num_one / num_two

# Use modulus division to find num_two divided by num_one and assign the value to a variable remainder
remainder = num_one % num_two

# Calculate num_one to the power of num_two and assign the value to a variable exp
exp = num_one ** num_two

# Find floor division of num_one by num_two and assign the value to a variable floor_division
floor_division = num_one // num_two

5. The radius of a circle is 30 meters

In [29]:
pi = 3.141592
r = 30

In [30]:
# Calculate the area of a circle and assign the value to a variable name of area_of_circle
# A = π r²
area_of_circle = pi * r ** 2

# Calculate the circumference of a circle and assign the value to a variable name of circum_of_circle
# C = π d
# C = 2 r }π
circum_of_circle = 2 * r * pi 

# Take radius as user input and calculate the area.
r = int(input('radio: '))
area = pi * r ** 2

radio30

6. Use the built-in input function to get first name, last name, country and age from a user and store the value to their corresponding variable names

In [25]:
first_name = input('Nombre: ') 
last_name = input('Apellido: ') 
country = input('Pais: ')
age = input('Edad: ')

Nombre: Hermes
Apellido: Villarreal
Pais: Panama
Edad: 45

7. Run help('keywords') in Python shell or in your file to check for the Python reserved words or keywords

In [26]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not